# For local development purposes only

version: "3.8"

services:

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true

  collaboration-service:
    build: ./collaboration-service
    container_name: collaboration_service_container
    ports:
      - "3001:3001"
    volumes:
      - ./collaboration-service:/app

  user-service:
    build: ./user-service
    container_name: user_service_container
    ports:
      - "8080:8080"
    volumes:
      - ./user-service:/app

  question-service:
    build: ./question-service
    container_name: question_service_container
    ports:
      - "8084:8084"
    volumes:
      - ./question-service:/app

  matching-service:
    build: ./matching-service
    container_name: matching_service_container
    ports:
      - "8084:8084"
    volumes:
      - ./matching-service:/app


