/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Loading.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Loading_loading__G8oIV {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
}

.Loading_loading__G8oIV img {
  width: 64px;
  height: 64px;
  opacity: 0.2;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Avatars.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Avatars_avatars__b2Uuv {
  display: flex;
  padding: 0 0.75rem;
}

.Avatars_avatar__lOKRj {
  display: flex;
  place-content: center;
  position: relative;
  border: 4px solid #fff;
  border-radius: 9999px;
  width: 42px;
  height: 42px;
  background-color: #9ca3af;
  margin-left: -0.75rem;
}

.Avatars_avatar__lOKRj:before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: opacity 0.15s ease;
  padding: 5px 10px;
  color: white;
  font-size: 0.75rem;
  border-radius: 8px;
  margin-top: 10px;
  z-index: 1;
  background: black;
  white-space: nowrap;
}

.Avatars_avatar__lOKRj:hover:before {
  opacity: 1;
}

.Avatars_avatar_picture__2sc2Z {
  border-radius: 9999px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Toolbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Toolbar_toolbar__vUgck {
  display: flex;
  padding: 1em;
  gap: 6px;
}

.Toolbar_button__885oU {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  height: 32px;
  width: 32px;
  background: #fff;
  color: #1f2937;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0 4px 8px 0, rgba(0, 0, 0, 0.02) 0 0 0 1px;
}

.Toolbar_button__885oU:hover {
  color: '#B9E8DF';
  box-shadow: rgba(0, 0, 0, 0.16) 0 5px 8px 0, rgba(0, 0, 0, 0.04) 0 0 0 1px;
}

.Toolbar_button__885oU:focus-visible {
  outline-offset: 2px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/CollaborativeEditor.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.CollaborativeEditor_container__E3o3l {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  background: #fff;
  
  width: 100%;
  height: 100%;
  color: #111827;
  overflow: hidden;
}

.CollaborativeEditor_editorHeader__HLjCV {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background : '#B9E8DF';
}

.CollaborativeEditor_editorContainer__WOR3i {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  background : '#B9E8DF';
}

